html {
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fefefe;
  color: #111111;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: cursive;
}

main {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 2px;
}
.config {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: yellow;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem;
  backdrop-filter: blur(10px);
}

.config-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.score-text,
.score-start {
  color: yellow;
  backdrop-filter: blur(10px);
}
.size-start {
  display: flex;
  font-size: 1.1rem;
  margin-top: 15px;
  color: rgb(255, 255, 0);
  border-radius: 5px;
  backdrop-filter: blur(20px);
  font-weight: bold;
}

.horse-container {
  backdrop-filter: blur(4px);
  display: grid;
  cursor: crosshair;
  border: 1px solid rgba(255, 255, 0, 0.2);
  border-radius: 0.75rem;
  min-width: 70vw;
  min-height: 70vh;

  place-items: center;
}

.progress-container {
  backdrop-filter: blur(4px);
  display: grid;
  border: 1px solid rgba(255, 255, 0, 0.2);
  border-radius: 0.75rem;
  min-width: 70vw;
  min-height: 70vh;
  place-items: center;
  margin-top: 10px;
}
.progress-span {
  font-size: 1.2rem;
  color: yellow;
}
.start-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 90vh;
}

.horse {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 10vw;
  height: 10vh;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 0, 0.1);
}
.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  aspect-ratio: 1;
}
.horse > div {
  text-align: center;

  transform: scale(0);
  transition: transform 0.2s;
}

.horse.active > div {
  transform: scale(1);
}

.flash {
  width: fit-content;
  height: fit-content;
}
.next-image {
  margin: 5px;
  cursor: pointer;
}

.block-image {
  width: auto;
  height: 150px;
}
.cat {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.language {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 250px;
}
.language-button {
  color: yellow;
  background: blue;
  border-radius: 4px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}
.language-button:active {
  background-color: #07b6f1bd;
}
.config-button {
  box-sizing: border-box;
  background-color: #07b6f1bd;
  margin-block: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: yellow;
  width: 30%;
  transition: transform 0.3s ease;
}
.config-button:hover {
  transform: scale(1.1);
}
.config-button:active {
  background-color: rgb(53, 21, 233);
}
.button-desctop:hover {
  transform: scale(1.1);
}
.button-desctop:active {
  background-color: rgb(53, 21, 233);
}
.button-start:hover {
  transform: scale(1.1);
}
.button-start:active {
  background-color: rgb(53, 21, 233);
}

.button-start {
  background-color: #072af1;
  margin-block: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: yellow;
  width: 30%;
  transition: transform 0.3s ease;
}
.button-start:hover {
  transform: scale(1.1);
}
.button-start:active {
  background-color: rgb(53, 21, 233);
}
.countdown {
  font-size: 1.1rem;
  padding: 0 1rem;
  color: yellow;
  font-weight: bold;
  backdrop-filter: blur(20px);
}

.score-container {
  max-width: 900px;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 0, 0.2);
  border-radius: 10px;
}
.setting {
  display: flex;
  justify-content: space-between;
  width: 100px;
  gap: 2;
}
.setting-img {
  cursor: pointer;
}
.countdown span {
  margin-inline-end: 0.5rem;
}

.img-seahorse,
.crab {
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}
.button-desctop {
  box-sizing: border-box;
  background-color: #07b6f1bd;
  margin-block: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: yellow;
  width: 30%;
  transition: transform 0.3s ease;
  opacity: 1;
  pointer-events: auto;
}
.progress-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px calc(10rem - 10px);

  min-height: 40px;
  padding: 6px 2px;
}

.setting-button {
  border: none;
  background: none;
  cursor: pointer;
}
/* -------Красивые буквы----------------- */
.styled {
  font-family: Barlow;
  font-weight: bold;
  color: transparent;
  font-size: 1.5rem;
  line-height: 0.75em;
  text-shadow: 0 4px 8px #ff000088, 0 12px 8px #ff00ff;
}
.stroked {
  -webkit-text-stroke: 1.3pt yellow;
}

::selection {
  text-shadow: 0 4px 8px #ff000088, 0 12px 8px #88008888;
  background-color: #ff00ffaa;
}

/* ---------------КНОПКА----------------- */

.button-desctop:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.button-desctop:active {
  color: #000;
}

.button-desctop:active:after {
  background: transparent;
}

.button-desctop:hover:before {
  opacity: 1;
}

.button-desctop:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.config-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.config-button:active {
  color: #000;
}

.config-button:active:after {
  background: transparent;
}

.config-button:hover:before {
  opacity: 1;
}

.config-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow-on-hover {
  width: 200px;
  height: 50px;
  margin: 5px;
  border: none;
  outline: none;
  color: #fff;
  background: blue;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  color: yellow;
  font-size: 1.2rem;
  font-weight: bold;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* -------------------------------- */
.horse > div {
  font-size: 54px;
  line-height: 80px;
}
.countdown {
  font-size: 1.5rem;
}

@media (max-width: 992px) {
  .config-button,
  .button-desctop {
    margin-block: 0.7rem;
    padding: 0.4rem 0.5rem;
  }
  .glow-on-hover {
    width: 150px;
    height: 45px;
  }
}

@media (min-width: 992px) {
  .horse-container {
    grid-gap: 0.5rem;
    padding: 0.5rem;
  }
  .language {
    width: 600px;
  }
}

@media (min-width: 920px) and (min-height: 800px) {
  .size-start,
  .score-start {
    font-size: 1.7rem;
  }
  .block-image {
    width: auto;
    height: 200px;
  }
}
@media (max-width: 640px) {
  .score-start,
  .score-text,
  .countdown {
    font-size: 1.2rem;
  }
}

@media (max-width: 920px) or (max-height: 650px) {
  .config-button,
  .button-desctop {
    margin-block: 0.5rem;
    padding: 0.2rem 0.5rem;
  }
}
@media (min-width: 920px) and (max-height: 650px) {
  .glow-on-hover {
    width: 150px;
    height: 45px;
    margin: 0;
  }
}

@media (max-height: 450px) {
  .score-star,
  .config,
  .language {
    margin: 0%;
  }
  .config-button,
  .button-desctop {
    padding: 0;
    margin: 2px 1px;
  }
}
@media (max-height: 520px) {
  .block-image {
    height: 100px;
  }
  
  .styled {
    font-size: 1rem;
  }
  .score-text,
  .countdown,
  .setting {
    font-size: 1rem;
  }
  .glow-on-hover {
    margin: 2px;
  }
  .score-start,
  .size-start {
    margin: 0px;
  }
  .setting-img,
  .play-img {
    width: 30px;
    height: 30px;
  }
  .score-container {
    height: 40px;
    padding: 0;
  }
}
@media (max-height: 570px){
  .progress-button {
    gap: 0;
  }
  .progress-container {
    margin-top: 0px;
  }
}